.DS_Store
Makefile
Makefile.in

aclocal.m4
autom4te.cache/

.buildutils
.deps

config.guess
config.log
config.status
config.sub
configure

depcomp
install-sh
missing

scalar_EMT.o
config.h
config.h.in
stamp-h1

Input/
Results/
Output/
scalar_EMT.sched

build/
